/EXP16/Explorer16PIC32MX795.X/nbproject/private/
/EXP16/BNO055_EXP16/firmware/BNO055_EXP16.X/nbproject/private/
/EXP16/BNO055_EXP16/firmware/BNO055_EXP16.X/dist/PIC32MX795/
EXP16/BNO055_EXP16/firmware/BNO055_EXP16.X/build/
